.card {
  border: 1px solid var(--main-border-color);
  border-radius: 5px;
  background-color: #fff;
}

.header {
  padding: 12px 24px;
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 0;
  text-transform: uppercase;
  font-size: 1.4em;
}

.body {
  padding: 0 24px 24px;
}
